body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 760px;
      margin: 0 auto;
      padding: 20px;
    }
  }

  .people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4px;
  }

  .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 17.44px;
  }

  .options .droppable {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .options .droppable:not(.draggable-dropzone--occupied) {
    min-width: 60px;
    border: 2px dashed black;
    height: 26.5px;
  }

  .options .answer-draggable {
    padding: 4px;
    border: 2px solid black;
  }

  .options .answer-draggable span {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .person {
    flex: 0 0 47%;
  }

  @media screen and (min-width: 768px) {
    .person {
      flex: 0 0 24%;
    }
  }

  .person img {
    width: 100%;
    aspect-ratio: 3 / 4;
  }

  .person .droppable {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    width: 100%;
    height: 40px;
  }

  .person .droppable.answer--correct {
    color: green;
  }

  .person .droppable.answer--incorrect {
    color: red;
  }

  .button--play-again {
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }